
service: data-retention-service
provider:
  name: aws
  runtime: python3.12
  memorySize: 128
  timeout: 15
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:GetObject
        - s3:DeleteObject
      Resource: "arn:aws:s3:::YOUR_BUCKET_NAME/*"

functions:
  retentionChecker:
    handler: handler.lambda_handler
    events:
      - s3:
          bucket: YOUR_BUCKET_NAME
          event: s3:ObjectCreated:*
          existing: true

plugins:
  - serverless-python-requirements

package:
  exclude:
    - node_modules/**
    - venv/**
